@model Finances.DtoLayer.DTOs.Gallery.UpdateGalleryDto
@{
    ViewData["Title"] = "UpdateGallery";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body wizard-content">
        <h4 class="card-title">Resim Ekleme Sayfası</h4>
        <h6 class="card-subtitle"></h6>
        <form method="post">
            <div>
                <section>
                    <input type="hidden" asp-for="GalleryID"/>
                    <label for="userName">Resim </label>
                    <input type="text" class="required form-control" asp-for="GalleryImage">
                </section>
                <br />
                <button class="btn btn-outline-success">Ekle</button>
            </div>
        </form>
    </div>
</div>




