@model Finances.EntityLayer.Concrete.AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body wizard-content">
        <h4 class="card-title">Rol Ekleme Sayfası</h4>
        <h6 class="card-subtitle"></h6>
        <form method="post">
            <div>
                <section>
                    <input type="hidden" asp-for="Id"/>
                    <label for="userName">Rol Adı </label>
                    <input type="text" class="required form-control" asp-for="Name">
                </section>
                <br />
                <button class="btn btn-outline-success">Ekle</button>
            </div>
        </form>
    </div>
</div>
